.navbar {
  position: fixed;
  width: calc(100% - 100px);
  background-color: #313139fa;
  left: 30px;
  top: 30px;
  padding: 20px 20px;
  z-index: 1000;

  @media screen and (max-width: 768px) {
    padding: 5px 20px;
  }
}

.navbarContainer {
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #8080801a;
}

.logo a {
  color: white;
  font-size: 20px;
  text-decoration: none;
  font-weight: bold;
}

.navLinks {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navLinks li a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 8px 16px;
  transition: background-color 0.3s;
}

.navLinks li a:hover {
  background-color: #555;
  border-radius: 4px;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.specialBtn {
  color: black;

  :hover {
    // background:rgba(246, 247, 249, .05)
  }
}

.normalBtn {

  :hover {
    // background: rgba(246, 247, 249, .05)

  }
}

.bar {
  width: 25px;
  height: 3px;
  background-color: white;
  border-radius: 5px;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .navLinks {
    position: fixed;
    top: 60px;
    right: 0;
    background-color: #333;
    width: 200px;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: transform 0.3s ease;
  }

  .navLinks.active {
    transform: translateX(0);
  }

  .hamburger {
    display: flex;
  }

  .navLinks li a {
    font-size: 20px;
    padding: 15px 0;
  }
}