.xpCtr {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    // height: 100vh;
}
.custom{
    svg{
        fill: white;
        position: absolute;
        height: 100%;
        width: 100%;
    }
}